body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
@media (max-width: 800px) {
  .container {
    position: relative;
    top: 0;
    flex-direction: column-reverse;
  }
}

.tree,
.description {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  font-size: 1rem;
}
.tree h2,
.description h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tree {
  border-right: 2px dashed #555;
  width: 500px;
}
@media (max-width: 800px) {
  .tree {
    border: none;
    border-top: 2px dashed #555;
    width: auto;
  }
}

@media (max-width: 800px) {
  .description {
    height: fit-content;
  }
}

@keyframes slide-from-left-animation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 800px) {
  .list {
    flex-direction: column-reverse;
  }
}
.list > * {
  position: relative;
  padding: 8px 16px;
  border: 2px solid black;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.list > *.history {
  background-color: #aaa;
  border: 2px dashed #555;
  color: #555;
}
.list > *.current {
  background-color: lightgreen;
  border: 2px solid #555;
  color: #555;
}
.list > *.next {
  animation: 0.5s linear 0s slide-from-left-animation;
}
