<div class="timeline-container">
  <div class="timeline-item-container" *ngFor="let item of items">
    <div class="left">
      <div class="card">
        <div class="timeline-item-content">
          <h1>{{ item.title }}</h1>
          <p>{{ item.description }}</p>
          <a target="_blank" *ngIf="item.link" href="{{ item.link }}">{{
            item.linkText
          }}</a>
        </div>
      </div>
    </div>
    <div class="bar">
      <div class="line">
        <div class="point"></div>
      </div>
    </div>
    <div class="right">
      <div class="card">
        <div class="timeline-item-content">
          <h1>{{ item.title }}</h1>
          <p>{{ item.description }}</p>
          <a target="_blank" *ngIf="item.link" href="{{ item.link }}">{{
            item.linkText
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
