<aeroaquaponic-section>
  <aeroaquaponic-heading
    title="{{ title }}"
    subtitle="{{ subtitle }}"
  ></aeroaquaponic-heading>
  <aeroaquaponic-spacer height="4"></aeroaquaponic-spacer>
  <aeroaquaponic-typography>
    {{ text }}
  </aeroaquaponic-typography>
  <aeroaquaponic-spacer height="4"></aeroaquaponic-spacer>
  <aeroaquaponic-profile-card-container
    [profiles]="profiles"
  ></aeroaquaponic-profile-card-container>
  <aeroaquaponic-spacer height="4"></aeroaquaponic-spacer>
  <aeroaquaponic-social></aeroaquaponic-social>
  <aeroaquaponic-spacer height="4"></aeroaquaponic-spacer>
</aeroaquaponic-section>
