<aeroaquaponic-section>
  <img id="grass" src="https://aeroaquaponic.org/images/grass-fb.png" />
  <img id="diagonals" src="https://aeroaquaponic.org/images/Diagonals.svg" />
  <aeroaquaponic-menu [items]="items" [color]="'white'"></aeroaquaponic-menu>
  <aeroaquaponic-spacer height="20"></aeroaquaponic-spacer>
  <aeroaquaponic-heading
    [title]="title"
    [subtitle]="subtitle"
    [version]="'white'"
  ></aeroaquaponic-heading>
  <aeroaquaponic-spacer height="4"></aeroaquaponic-spacer>
  <aeroaquaponic-button [label]="'Learn More'"></aeroaquaponic-button>
</aeroaquaponic-section>
