html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Monospace;
}

h1,
h2,
h3,
h4,
p,
b,
li {
  margin: 4px 0;
}

p:nth-child(even) {
  background-color: #f2f2f2;
}
p:nth-child(even)::after {
  content: "-test";
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.container .feed {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  margin-bottom: 32px;
}
.container .input {
  display: flex;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-grow: 1;
  padding: 8px 16px;
  box-sizing: border-box;
  background: white;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.4);
}
.container .input::before {
  content: "_____gh";
  position: absolute;
  padding: 4.5px;
  opacity: 0.5;
}
.container .input input {
  font-family: Monospace;
  width: 100%;
}
