div {
  p {
    width: 79.88vw;
    margin: 0;
    line-height: 2.24vw;
    font-size: 1.75vw;
    font-family: "Work Sans", sans-serif;
  }
  display: flex;
}
.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}
