<aeroaquaponic-section>
  <aeroaquaponic-heading
    title="Support Us"
    subtitle="Make Your Contribution!"
  ></aeroaquaponic-heading>
  <aeroaquaponic-spacer height="4"></aeroaquaponic-spacer>
  <aeroaquaponic-button
    [primary]="false"
    [iconLink]="
      'https://uploads-ssl.webflow.com/5c14e387dab576fe667689cf/5c91bddac6c3aa6b3718fd86_kofisvglofo.svg'
    "
    label="Buy Us Coffee"
    (onClick)="onClickHandler($event)"
  ></aeroaquaponic-button>
  <aeroaquaponic-spacer height="8"></aeroaquaponic-spacer>
</aeroaquaponic-section>
