<aeroaquaponic-section>
  <aeroaquaponic-heading
    title="Support Us"
    subtitle="Make Your Contribution!"
  ></aeroaquaponic-heading>
  <aeroaquaponic-spacer height="10"></aeroaquaponic-spacer>
  <aeroaquaponic-button
    [primary]="false"
    [iconLink]="
      'https://www.google.com/url?sa=i&url=https%3A%2F%2Fmore.ko-fi.com%2Fbrand-assets&psig=AOvVaw3lzBtLhDLSVtekMRf-iu9C&ust=1609730905088000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDrxojp_u0CFQAAAAAdAAAAABAD'
    "
    label="Buy Us Coffee"
  ></aeroaquaponic-button>
</aeroaquaponic-section>
